<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <%- include("header") %>
    <li>
        Web Development
    </li>
    <li>
        Android & IOS Development
    </li>
</body>
</html>